{% extends 'users/layout1.html' %}
{% load static %}
{% load crispy_forms_field %}
{% block extra_css_lib %}

    <!-- Bootstrap Material Datetime Picker Css -->
    <link href="{% static 'plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css' %}" rel="stylesheet" />

    <!-- Bootstrap DatePicker Css -->
    <link href="{% static 'plugins/bootstrap-datepicker/css/bootstrap-datepicker.css' %}" rel="stylesheet" />


    <!-- Wait Me Css -->
    <link href="{% static 'plugins/waitme/waitMe.css' %}" rel="stylesheet" />

     <!-- Colorpicker Css -->
    <link href="{%static 'plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.css'%}" rel="stylesheet" />

    <!-- Multi Select Css -->
    <link href="{% static 'plugins/multi-select/css/multi-select.css' %}" rel="stylesheet">

    <!-- Bootstrap Spinner Css -->
    <link href="{% static 'plugins/jquery-spinner/css/bootstrap-spinner.css'%}" rel="stylesheet">

    <!-- Bootstrap Tagsinput Css -->
    <link href="{% static 'plugins/bootstrap-tagsinput/bootstrap-tagsinput.css'%}" rel="stylesheet">


     <!-- Dropzone Css -->
    <link href="{% static 'plugins/dropzone/dropzone.css'%}" rel="stylesheet">

    <!-- Sweet Alert Css -->
    <link href="{% static 'plugins/sweetalert/sweetalert.css' %}" rel="stylesheet" />


    <!-- Bootstrap Select Css -->
    <link href="{% static 'plugins/bootstrap-select/css/bootstrap-select.css' %}" rel="stylesheet" />

{% endblock %}
{% block body %}
           <div class="row clearfix">
                <div class="col-xs-12 col-sm-3">
                    <div class="card profile-card">
                        <div class="profile-header">&nbsp;</div>
                        <div class="profile-body">
                            <div class="image-area">
                                <img src="{% static 'images/user.png'%}" alt="AdminBSB - Profile Image" height="100px" />
                            </div>
                            {% for i in inquiry_list %}
                            <div class="content-area">
                                <h3>{{i.inquiry}}</h3>

                            </div>
                            {% endfor %}
                        </div>
                        <div class="profile-footer">
                            <ul>
                                <li>
                                    <span>DATE</span>
                                    <span>{{inquiry.date}}</span>
                                </li>
                                <li>
                                    <span>FIRST NAME</span>
                                    <span>{{inquiry.first_name}}</span>
                                </li>
                                <li>
                                    <span>SECOND NAME</span>
                                    <span>{{inquiry.second_name}}</span>
                                </li>
                                <li>
                                    <span>COURSE</span>
                                    <span>{{inquiry.course}}</span>
                                </li>
                                <li>
                                    <span>HELD BY</span>
                                    <span>{{inquiry.inq_held_by}}</span>
                                </li>


                            </ul>
<!--                            <button class="btn btn-primary btn-lg waves-effect btn-block">FOLLOW</button>-->
                        </div>
                    </div>


                </div>
                <div class="col-xs-12 col-sm-9">
                    <div class="card">
                        <div class="body">
                            <div>
                                <ul class="nav nav-tabs" role="tablist">
                                    <li role="presentation"><a href="#profile_settings" aria-controls="settings" role="tab" data-toggle="tab">Profile</a></li>

                                </ul>

                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane fade in active" id="profile_settings">
                                        <form class="form-horizontal">
                                            <div class="form-group">
                                                <label for="InputExperience" class="col-sm-2 control-label">Mobile Number</label>

                                                <div class="col-sm-10">
                                                    <div class="form-line">
                                                        {{inquiry.mobile_num}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="InputSkills" class="col-sm-2 control-label">Landline Number</label>

                                                <div class="col-sm-10">
                                                    <div class="form-line">
                                                        {{inquiry.landline_num}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="InputSkills" class="col-sm-2 control-label">Education</label>

                                                <div class="col-sm-10">
                                                   <div class="form-line">
                                                    {{inquiry.education}}
                                                    </div>
                                                </div>


                                            </div>
                                            <div class="form-group">
                                                <label for="InputSkills" class="col-sm-2 control-label">College Name</label>

                                                <div class="col-sm-10">
                                                   <div class="form-line">
                                                    {{inquiry.clg_name }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="InputSkills" class="col-sm-2 control-label">Reference Name</label>

                                                <div class="col-sm-10">
                                                   <div class="form-line">
                                                    {{inquiry.ref_name}}
<!--                                                    <label class="form-label">Father First Name</label>-->
                                                    </div>
                                                </div>
                                            </div>


                                        </form>
                                    </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
           </div>


{% endblock %}
{% block extra_js_lib %}
     <!-- Jquery Validation Plugin Css -->
    <script src="{% static 'plugins/jquery-validation/jquery.validate.js' %}"></script>

    <!-- JQuery Steps Plugin Js -->
    <script src="{% static 'plugins/jquery-steps/jquery.steps.js' %}"></script>

    <!-- Sweet Alert Plugin Js -->
    <script src="{% static 'plugins/sweetalert/sweetalert.min.js' %}"></script>

    <!-- Custom Js -->
    <script src="{% static 'js/pages/forms/form-validation.js' %}"></script>

    <!-- Autosize Plugin Js -->
    <script src="{% static 'plugins/autosize/autosize.js' %}"></script>

    <!-- Moment Plugin Js -->
    <script src="{% static 'plugins/momentjs/moment.js' %}"></script>

    <!-- Bootstrap Material Datetime Picker Plugin Js -->
    <script src="{% static 'plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js' %}"></script>

    <!-- Bootstrap Datepicker Plugin Js -->
    <script src="{% static 'plugins/bootstrap-datepicker/js/bootstrap-datepicker.js' %}"></script>

    <!-- Custom Js -->
    <script src="{% static 'js/pages/forms/basic-form-elements.js' %}"></script>

    <!-- Bootstrap Tags Input Plugin Js -->
    <script src="{% static 'plugins/bootstrap-tagsinput/bootstrap-tagsinput.js'%}"></script>

    <!-- noUISlider Plugin Js -->
    <script src="{% static 'plugins/nouislider/nouislider.js'%}"></script>



{% endblock %}