{% extends "users/layout1.html" %}
{% load crispy_forms_field %}
{% load static  %}
{% block extra_css_lib %}
   <!-- JQuery DataTable Css -->
    <link href="{% static 'plugins/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.css'%}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
{% endblock %}
{% block body %}
  <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                Course Details
                            </h2>
                            <ul class="header-dropdown m-r--5">

                            </ul>
                        </div>
                        <div class="body">
                            <div class="table-responsive">
                                <div id="DataTables_Table_1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">

                                    <table class="table table-bordered table-striped table-hover dataTable js-exportable" id="DataTables_Table_1" role="grid" aria-describedby="DataTables_Table_1_info">
                                    <thead>
                                        <tr role="row">
                                            <th>Name</th>
                                            <th>Description</th>
                                            <th>Duration<br>(in months)</th>
                                            <th>Fees</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th rowspan="1" colspan="1">Name</th>
                                            <th rowspan="1" colspan="1">Description</th>
                                            <th rowspan="1" colspan="1">Duration<br>(in months)</th>
                                            <th rowspan="1" colspan="1">Fees</th>
                                            <th rowspan="1" colspan="1">Status</th>
                                            <th rowspan="1" colspan="1">Action</th>

                                        </tr>
                                    </tfoot>
                                  <tbody>
                                    {% for c in course %}
                                        <tr>
                                            <td>{{c.name }}</td>
                                            <td>{{c.description }}</td>
                                            <td>{{c.duration }}</td>
                                            <td>{{c.fees }}</td>
                                            <td>{{c.status }}</td>
                                            <td>
                                                <a href="{% url 'course-update' c.id %}">Update</a>/
                                                <a href="{% url 'course-view' c.id %}">View</a>/
                                                <a href="{% url 'course-delete' c.id %}">Delete</a>
                                            </td>

                                        </tr>
                                   {% endfor %}
                                  </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
  </div>
      <!-- Bar Chart -->
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>BAR CHART</h2>
                            <ul class="header-dropdown m-r--5">

                            </ul>
                        </div>
                        <div class="body">
                            <iframe class="chartjs-hidden-iframe" style="width: 100%; display: block; border: 0px; height: 0px; margin: 0px; position: absolute; inset: 0px;"></iframe>
                            <canvas id="bar_chart" height="260" width="521" style="display: block; width: 521px; height: 260px;"></canvas>
                        </div>
                    </div>
                </div>
                <!-- #END# Bar Chart -->
{% endblock %}
{% block extra_js_lib %}
    <!-- Jquery DataTable Plugin Js -->
    <script src="{% static 'plugins/jquery-datatable/jquery.dataTables.js'%}"></script>
    <script src="{% static 'plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js'%}"></script>
    <script src="{% static 'plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js'%}"></script>
    <script src="{% static 'plugins/jquery-datatable/extensions/export/buttons.flash.min.js'%}"></script>
    <script src="{% static 'plugins/jquery-datatable/extensions/export/jszip.min.js'%}"></script>
    <script src="{% static 'plugins/jquery-datatable/extensions/export/pdfmake.min.js'%}"></script>
    <script src="{% static 'plugins/jquery-datatable/extensions/export/vfs_fonts.js'%}"></script>
    <script src="{% static 'plugins/jquery-datatable/extensions/export/buttons.html5.min.js'%}"></script>
    <script src="{% static 'plugins/jquery-datatable/extensions/export/buttons.print.min.js'%}"></script>
    <script src="{% static 'js/pages/tables/jquery-datatable.js'%}"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <!-- Custom Js -->
    <script src="{% static 'js/admin.js'%}"></script>

    <!-- Demo Js -->
    <script src="{% static 'js/demo.js'%}"></script>

    <!-- Chart Plugins Js -->
    <script src="{% static 'plugins/chartjs/Chart.bundle.js' %}"></script>

    <!-- Custom Js -->
    <script src="{% static 'js/admin.js' %}"></script>
    <script src="{% static 'js/pages/charts/chartjs.js'%}"></script>





{% endblock %}
