{% extends "users/layout1.html" %}
{% load crispy_forms_field %}
{% load static  %}
{% block extra_css_lib %}
   <!-- JQuery DataTable Css -->
    <link href="{% static 'plugins/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.css'%}" rel="stylesheet">
{% endblock %}
{% block body %}
  <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                Student Details
                            </h2>

                        </div>
                        <div class="body">
                            <div class="table-responsive">
                                <div id="DataTables_Table_1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">

                                    <table class="table table-bordered table-striped table-hover dataTable js-exportable" id="DataTables_Table_1" role="grid" aria-describedby="DataTables_Table_1_info">
                                    <thead>
                                        <tr role="row">
                                            <th> ID</th>
                                            <th rowspan="1" colspan="1">Student </th>
                                            <th rowspan="1" colspan="1">Date of admission</th>
                                            <th rowspan="1" colspan="1">Course</th>
                                            <th rowspan="1" colspan="1">Start Date</th>
                                            <th rowspan="1" colspan="1">End Date</th>
                                            <th rowspan="1" colspan="1">Pending Fees</th>
                                            <th rowspan="1" colspan="1">Status</th>
                                            <th rowspan="1" colspan="1">Action</th>

                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th> ID</th>
                                            <th rowspan="1" colspan="1">Student </th>
                                            <th rowspan="1" colspan="1">Date of admission</th>
                                            <th rowspan="1" colspan="1">Course</th>
                                            <th rowspan="1" colspan="1">Start Date</th>
                                            <th rowspan="1" colspan="1">End Date</th>
                                            <th rowspan="1" colspan="1">Pending Fees</th>
                                            <th rowspan="1" colspan="1">Status</th>
                                            <th rowspan="1" colspan="1">Action</th>

                                        </tr>
                                    </tfoot>
                                  <tbody>
                                    {% for a in admission_list %}
                                        <tr>
                                            <td> {{a.id}}</td>
                                            <td>{{a.Student }}</td>
                                            <td>{{a.Date_of_addmission}}</td>
                                            <td>{{a.Course}}</td>
                                            <td>{{a.Start_Date}}</td>
                                            <td>{{a.End_Date}}</td>
                                            <td>{{a.Pending_fees}}</td>
                                            <td>{{a.Status}}</td>

                                            <td>
                                                <a href="{% url 'admission-update' a.id %}">Update</a>/
                                                <a href="{% url 'admission-delete' a.id %}">Delete</a>/
                                                <a href="{% url 'admission-detail' a.id %}">View</a>
                                            </td>

                                        </tr>
                                   {% endfor %}
                                  </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
  </div>

{% endblock %}
{% block extra_js_lib %}
    <!-- Jquery DataTable Plugin Js -->
    <script src="{% static 'plugins/jquery-datatable/jquery.dataTables.js'%}"></script>
    <script src="{% static 'plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js'%}"></script>
    <script src="{% static 'plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js'%}"></script>
    <script src="{% static 'plugins/jquery-datatable/extensions/export/buttons.flash.min.js'%}"></script>
    <script src="{% static 'plugins/jquery-datatable/extensions/export/jszip.min.js'%}"></script>
    <script src="{% static 'plugins/jquery-datatable/extensions/export/pdfmake.min.js'%}"></script>
    <script src="{% static 'plugins/jquery-datatable/extensions/export/vfs_fonts.js'%}"></script>
    <script src="{% static 'plugins/jquery-datatable/extensions/export/buttons.html5.min.js'%}"></script>
    <script src="{% static 'plugins/jquery-datatable/extensions/export/buttons.print.min.js'%}"></script>
    <script src="{% static 'js/pages/tables/jquery-datatable.js'%}"></script>

{% endblock %}
