{% extends 'users/layout1.html' %}
{% load static %}
{% load crispy_forms_field %}

{% block extra_css_lib %}

<!--    &lt;!&ndash; Bootstrap Material Datetime Picker Css &ndash;&gt;-->
<!--    <link href="{% static 'plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css' %}" rel="stylesheet" />-->
<!--    &lt;!&ndash; Bootstrap DatePicker Css &ndash;&gt;-->
<!--    <link href="{% static 'plugins/bootstrap-datepicker/css/bootstrap-datepicker.css' %}" rel="stylesheet" />-->
<!--    &lt;!&ndash; Wait Me Css &ndash;&gt;-->
<!--    <link href="{% static 'plugins/waitme/waitMe.css' %}" rel="stylesheet" />-->
<!--     &lt;!&ndash; Colorpicker Css &ndash;&gt;-->
<!--    <link href="{% static 'plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.css'%}" rel="stylesheet" />-->
<!--    &lt;!&ndash; Multi Select Css &ndash;&gt;-->
<!--    <link href="{% static 'plugins/multi-select/css/multi-select.css' %}" rel="stylesheet">-->
<!--    &lt;!&ndash; Bootstrap Spinner Css &ndash;&gt;-->
<!--    <link href="{% static 'plugins/jquery-spinner/css/bootstrap-spinner.css'%}" rel="stylesheet">-->
<!--    &lt;!&ndash; Bootstrap Tagsinput Css &ndash;&gt;-->
<!--    <link href="{% static 'plugins/bootstrap-tagsinput/bootstrap-tagsinput.css'%}" rel="stylesheet">-->
<!--     &lt;!&ndash; Dropzone Css &ndash;&gt;-->
<!--    <link href="{% static 'plugins/dropzone/dropzone.css'%}" rel="stylesheet">-->
<!--    &lt;!&ndash; Sweet Alert Css &ndash;&gt;-->
<!--    <link href="{% static 'plugins/sweetalert/sweetalert.css' %}" rel="stylesheet" />-->
<!--    &lt;!&ndash; Bootstrap Select Css &ndash;&gt;-->
<!--    <link href="{% static 'plugins/bootstrap-select/css/bootstrap-select.css' %}" rel="stylesheet" />-->

<!-- Sweet Alert Css -->
    <link href="{% static 'plugins/sweetalert/sweetalert.css' %}" rel="stylesheet" />

    <!-- Bootstrap Select Css -->
    <link href="{% static 'plugins/bootstrap-select/css/bootstrap-select.css' %}" rel="stylesheet" />

        <!-- Bootstrap Material Datetime Picker Css -->
    <link href="{% static 'plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css' %}" rel="stylesheet" />

    <!-- Bootstrap DatePicker Css -->
    <link href="{% static 'plugins/bootstrap-datepicker/css/bootstrap-datepicker.css' %}" rel="stylesheet" />

    <!-- Wait Me Css -->
    <link href="{% static 'plugins/waitme/waitMe.css' %}" rel="stylesheet" />


{% endblock %}
{% block body %}
<div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>Admission Form</h2>
                            <ul class="header-dropdown m-r--5">
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">more_vert</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="javascript:void(0);" class=" waves-effect waves-block">Action</a></li>
                                        <li><a href="javascript:void(0);" class=" waves-effect waves-block">Another action</a></li>
                                        <li><a href="javascript:void(0);" class=" waves-effect waves-block">Something else here</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="body">
                            <form id="form_validation" method="POST" enctype="multipart/form-data" novalidate="novalidate">
                                {% csrf_token %}

                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <label class="form-label">Student</label>
                                        {% crispy_field form.Student %}
                                    </div>
                                    {% if form.Student.errors %}
                                        {% for error in form.Student.errors %}
                                            <label id="Student-error" class="error" for="Student"><b>{{ error }}</b></label>
                                        {% endfor %}
                                    {% endif %}
                                </div>

                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <label class="form-label">Date of Admission</label>
                                        {% crispy_field form.Date_of_addmission 'class' 'datepicker' %}
                                    </div>
                                    {% if form.Date_of_addmission.errors  %}
                                        {% for error in form.Date_of_addmission.errors %}
                                            <label id="admission-error" class="error" for="admission"><b>{{ error }}</b></label>
                                        {% endfor %}
                                    {% endif %}
                                </div>

                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <label class="form-label">Course</label>
                                        {% crispy_field form.Course %}
                                    </div>
                                    {% if form.Course %}
                                        {% for error in form.Course.errors %}
                                            <label id="Course-error" class="error" for="Course"><b>{{ error }}</b></label>
                                        {% endfor %}
                                    {% endif %}
                                </div>

                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <label class="form-label">Start_Time</label>
                                        {% crispy_field form.Start_Time 'class' 'timepicker' 'id' 'id_Start_Time' %}
                                    </div>
                                    {% if form.Start_Time.errors %}
                                        {% for error in form.Start_Time.errors %}
                                            <label id="Start_Time-error" class="error" for="Start_Time"><b>{{ error }}</b></label>
                                        {% endfor %}
                                    {% endif %}
                                </div>

                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <label class="form-label"> End_Time</label>

                                        {% crispy_field form.End_Time 'class' 'timepicker' %}
                                    </div>
                                    {% if form.End_Time.errors %}
                                        {% for error in form.End_Time.errors %}
                                            <label id="End_Time-error" class="error" for="End_Time"><b>{{ error }}</b></label>
                                        {% endfor %}
                                    {% endif %}
                                </div>


                                <div class="form-group form-float">
                                    <div  class="form-line">
                                        <label class="form-label">Start_Date</label>
                                        {% crispy_field form.Start_Date 'class' 'datepicker' %}
                                    </div>
                                    {% if form.Start_Date.errors %}
                                        {% for error in form.Start_Date.errors %}
                                            <label id="Start_Date-error" class="error" for="Start_Date"><b>{{ error }}</b></label>
                                        {% endfor %}
                                    {% endif %}
                                </div>

                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <label class="form-label">End_Date</label>
                                        {% crispy_field form.End_Date  'class' 'datepicker'%}
                                    </div>
                                    {% if form.End_Date.errors %}
                                        {% for error in form.End_Date.errors %}
                                            <label id="End_Date-error" class="error" for="End_Date"><b>{{ error }}</b></label>
                                        {% endfor %}
                                    {% endif %}
                                </div>

                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <label class="form-label">Photo copy</label>
                                        {% crispy_field form.photo_copy %}
                                    </div>
                                    {% if form.photo_copy.errors %}
                                        {% for error in form.photo_copy.errors %}
                                            <label id="photo_copy-error" class="error" for="photo_copy"><b>{{ error }}</b></label>
                                        {% endfor %}
                                    {% endif %}
                                </div>

                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <label class="form-label">Fees</label>
                                        {% crispy_field form.Fees %}
                                    </div>
                                    {% if form.Fees.errors %}
                                        {% for error in form.Fees.errors %}
                                            <label id="Fees-error" class="error" for="Fees"><b>{{ error }}</b></label>
                                        {% endfor %}
                                    {% endif %}
                                </div>

                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <label class="form-label">Status</label>
                                        {% crispy_field form.Status %}
                                    </div>
                                    {% if form.Status.errors %}
                                        {% for error in form.Status.errors %}
                                            <label id="Status-error" class="error" for="Status"><b>{{ error }}</b></label>
                                        {% endfor %}
                                    {% endif %}
                                </div>

                                 <div class="form-group form-float">
                                    <div class="form-line">
                                        <label class="form-label">No_of_Days</label>
                                        {% crispy_field form.No_of_Days %}
                                    </div>
                                    {% if form.No_of_Days.errors %}
                                        {% for error in form.No_of_Days.errors %}
                                            <label id="No_of_Days-error" class="error" for="No_of_Days"><b>{{ error }}</b></label>
                                        {% endfor %}
                                    {% endif %}
                                </div>

                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <label class="form-label">Remarks</label>
                                        {% crispy_field form.Remarks %}
                                    </div>
                                    {% if form.Remarks.errors %}
                                        {% for error in form.Remarks.errors %}
                                            <label id="Remarks-error" class="error" for="Remarks"><b>{{ error }}</b></label>
                                        {% endfor %}
                                    {% endif %}
                                </div>


                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <p>
                                          <b>Pending_fees</b>
                                        </p>
                                        {% crispy_field form.Pending_fees 'class' 'btn-group bootstrap-select form-control show-tick' %}
                                    </div>
                                    {% if form.Pending_fees.errors %}
                                        {% for error in form.Pending_fees.errors %}
                                            <label id="Pending_fees-error" class="error" for="Pending_fees"><b>{{ error }}</b></label>
                                        {% endfor %}
                                    {% endif %}
                                </div>

                                 <div class="form-group form-float">
                                    <div class="form-line">
                                        <p>
                                          <b>Inquiry</b>
                                        </p>
                                        {% crispy_field form.inquiry  %}
                                    </div>
                                    {% if form.inquiry.errors %}
                                        {% for error in form.inquiry.errors %}
                                            <label  class="error" ><b>{{ error }}</b></label>
                                        {% endfor %}
                                    {% endif %}
                                </div>





                                <button class="btn btn-primary waves-effect" type="submit">SUBMIT</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}
{% block extra_js_lib %}
<!--     &lt;!&ndash; Jquery Validation Plugin Css &ndash;&gt;-->
<!--    <script src="{% static 'plugins/jquery-validation/jquery.validate.js' %}"></script>-->

<!--    &lt;!&ndash; JQuery Steps Plugin Js &ndash;&gt;-->
<!--    <script src="{% static 'plugins/jquery-steps/jquery.steps.js' %}"></script>-->

<!--    &lt;!&ndash; Sweet Alert Plugin Js &ndash;&gt;-->
<!--    <script src="{% static 'plugins/sweetalert/sweetalert.min.js' %}"></script>-->

<!--    &lt;!&ndash; Custom Js &ndash;&gt;-->
<!--    <script src="{% static 'js/pages/forms/form-validation.js' %}"></script>-->

<!--    &lt;!&ndash; Autosize Plugin Js &ndash;&gt;-->
<!--    <script src="{% static 'plugins/autosize/autosize.js' %}"></script>-->

<!--    &lt;!&ndash; Moment Plugin Js &ndash;&gt;-->
<!--    <script src="{% static 'plugins/momentjs/moment.js' %}"></script>-->

<!--    &lt;!&ndash; Bootstrap Material Datetime Picker Plugin Js &ndash;&gt;-->
<!--    <script src="{% static 'plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js' %}"></script>-->

<!--    &lt;!&ndash; Bootstrap Datepicker Plugin Js &ndash;&gt;-->
<!--    <script src="{% static 'plugins/bootstrap-datepicker/js/bootstrap-datepicker.js' %}"></script>-->

<!--    &lt;!&ndash; Custom Js &ndash;&gt;-->
<!--    <script src="{% static 'js/pages/forms/basic-form-elements.js' %}"></script>-->

<!--    &lt;!&ndash; Bootstrap Tags Input Plugin Js &ndash;&gt;-->
<!--    <script src="{% static 'plugins/bootstrap-tagsinput/bootstrap-tagsinput.js'%}"></script>-->

<!--    &lt;!&ndash; noUISlider Plugin Js &ndash;&gt;-->
<!--    <script src="{% static 'plugins/nouislider/nouislider.js'%}"></script>-->
<!-- Jquery Validation Plugin Css -->
    <script src="{% static 'plugins/jquery-validation/jquery.validate.js' %}"></script>

    <!-- JQuery Steps Plugin Js -->
    <script src="{% static 'plugins/jquery-steps/jquery.steps.js' %}"></script>

    <!-- Sweet Alert Plugin Js -->
    <script src="{% static 'plugins/sweetalert/sweetalert.min.js' %}"></script>

    <!-- Custom Js -->
    <script src="{% static 'js/pages/forms/form-validation.js' %}"></script>

    <!-- Autosize Plugin Js -->
    <script src="{% static 'plugins/autosize/autosize.js' %}"></script>

    <!-- Moment Plugin Js -->
    <script src="{% static 'plugins/momentjs/moment.js' %}"></script>

    <!-- Bootstrap Material Datetime Picker Plugin Js -->
    <script src="{% static 'plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js' %}"></script>

    <!-- Bootstrap Datepicker Plugin Js -->
    <script src="{% static 'plugins/bootstrap-datepicker/js/bootstrap-datepicker.js' %}"></script>

    <!-- Custom Js -->
    <script src="{% static 'js/pages/forms/basic-form-elements.js' %}"></script>

<script>
    $('#id_Start_Date').bootstrapMaterialDatePicker({ weekStart : 0, time: false });
    $('#id_End_Date').bootstrapMaterialDatePicker({ weekStart : 0, time: false });
    $('#id_Date_of_addmission').bootstrapMaterialDatePicker({ weekStart : 0, time: false });

</script>
<script>

    $('#id_Start_Time').pickatime({});
</script>

<script>
    document.addEventListener('DOMContentLoaded',function(){

        document.querySelector("#id_Course").onchange=function(){
            let value=document.querySelector("#id_Course").value;
             //alert(`on change called ${value} `);
            fetch(`http://127.0.0.1:8000/course/get_fees/${value}`)
            .then( function(response){return  response.json();})
            .then(function(data){
               console.log(data.fees);
               document.querySelector("#id_Fees").value=data.fees;
               document.querySelector("#id_Pending_fees").value=data.fees;

            });

        }

    });
</script>


{% endblock %}